
.CampoTop{
    position: relative;
    padding: 0 70px;
    top: 100px;
    height: 400px;
    text-align: center;
}
.CampoTop h1{
    font-family: 'cheque', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 83px;
}
.CampoTop p{
    color: rgb(248, 248, 248);
    font-size: 20px;
    margin-left: 5px;
}
.CampoSection{
    position: relative;
    top: 150px;
    z-index: 2;
    padding: 200px 50px 50px 50px;
    background-color: rgb(255, 255, 255);
}
.CampoSection h2{
    font-family: 'cheque-bold',sans-serif;
    color: black;
    text-align: center;
}
.ContainerCondulta{
    position: absolute;
    display: flex;
    z-index: 5;
    background-color: #AAA59D;
    padding: 5px 30px 10px 30px;
    color: rgb(239, 235, 235);
    width: 1000px;
    justify-content: space-around;
    margin: auto;
    border-radius: 10px;
}
.ContainerCondulta h5{
    margin-top: 10px;
}
.ContainerCondulta div{
    margin-top: 10px;
    width: 220px;
    text-align: center;
}
.ContainerCondulta div img{
    width: 50px;
}
.TabCondulta{
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #5DE0E6, #004AAD);
    margin-bottom: 1px;
    border-radius: 10px;
}
.CampoCondulta{
    width: 1000px;
    position: absolute;
    left:50%;
    transform: translate(-50%);
    display: inline;
    z-index: 3;
    margin-top: 40px;
}
.Campfeedback{
    text-align: center;
    padding: 35px 0 0 0;
    top: 150px;
    position: relative;
}
.Campfeedback h3{
    font-family: 'Averia Sans Libre', sans-serif;
}
.feedback{
    padding: 10px;
    margin: 4px auto;
    max-width: 310px;
    background: linear-gradient(to right, #5ddfe635, #004bad2f);
}
@media screen and (max-width:1100px){
    .ContainerCondulta,.CampoCondulta{
        width: 800px;
    }
}
@media screen and (max-width:850px){
    .ContainerCondulta, .CampoCondulta{
        width: 650px;
    }
    .ContainerCondulta div{
        width: 200px;
    }
    .CampoSection{
        padding: 170px 20px 20px 50px;
    }
}
@media screen and (max-width:690px){
    .ContainerCondulta h5{
    
        font-size: 17px;
    }
    .ContainerCondulta div{
        width: 200px;
        font-size: 14px;
    }
    .CampMulherInfo{
        width: 100% !important;
    }
    .CampoTop h1{
        margin-top: 50px;
    }
}
@media screen and (max-width:667px){
    .TabCondulta{
        display: none;
    }

    .ContainerCondulta, .CampoCondulta{
        padding: 7px;
        width: 100% ;
        border-radius: 0;
        margin-top: 20px;
        left:50%;
        transform: translate(-50%);
    }
    .ContainerCondulta div{
        display: flex;
        justify-content: center;
        margin-top: 0;
        font-size: 16px;
        
    }
    .CampoSection{
        top:80px;
        padding-top: 50px;
    }
    .ContainerCondulta div img{
        width: 25px;
        height: 25px;
        margin-right: 10px;
        margin: auto 5px;
    }
    .ContainerCondulta p{
        display: none;
    }
    .CampoTop h1{
        font-size: 50px;
    }
}
.CampDirectionsServ{
    position: relative;
    background-image: url('../../components/img/Mulher-Ponte.jpg');
    background-size: cover;
    background-position:0 -220px;
    height: 300px;
    width: 100%;
    top: 150px;
}
.CampMulherInfo{
    z-index: 10;
    background-color: #c6c6c6ab;
    width: 390px;
    height: 100%;
    z-index: 0;
    text-align: center;
    padding: 50px;
    padding-top: 20px;
}
@media screen and (min-width:1130px){
    .CampDirectionsServ{
        background-position:0 -345px;
        height: 350px;
    }
}
@media screen and (max-width:800px){
    .CampDirectionsServ{
        background-position:0 -160px;

    }
}
@media screen and (max-width:710px){
    .CampDirectionsServ{
        background-position:center;

    }
}
@media screen and (max-width:500px){
    .CampoTop{
        padding: 0 10px;
    }
    .CampoTop h1{
        font-size: 45px;
    }
    .ContainerCondulta div h5{
        display: none;
    }
    .ULNavbar{
        margin-left: 5px !important;
        padding: 0;
    }
    .CampoSection{
        top:80px;
        padding: 50px 10px 0 10px;

    }
}
