@font-face {
    font-family: 'cheque';
    src: url('../../components/fontes/Cheque-Regular.otf') format('OpenType');
}
@font-face {
    font-family: 'cheque-bold';
    src: url('../../components/fontes/Cheque-Black.otf') format('OpenType');
}
.ImgTopbackgroud{
    background-size: cover;
    width: 100%;
    height: 750px;
    top: -200px;
    position: absolute;
}
.containeBackImg{
    top: 0;
    position: relative;
    width: auto;
    height: 550px;
}
.containerSecudary{
    top: 200px;
    position: relative;
    background-color: rgb(255, 255, 255);
    height: auto;
}
.ContainerTopInfo{
    position: relative;
    padding: 0 70px;
    top: 100px;
    height: 330px;
    display: grid;
}

@media screen and (max-width:700px){
    .ImgTopbackgroud{
        height: 500px;
        top: 0;
    }
}


.ContainerTopInfo h1{
    font-family: 'cheque', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 83px;
}
.ContainerTopInfo p{
    color: rgb(248, 248, 248);
    font-size: 20px;
    margin-left: 5px;
}
.campoDirection{
    margin-top: auto;
}
.ContainerContacto{
    width:800px;
    position: absolute;
    top: 430px;
    left:50%;
    transform: translate(-50%);
    display: inline;
    z-index: 3;
    margin-top: 40px;
}
.TabContacto{
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, #5DE0E6, #004AAD);
    margin-bottom: 1px;
    border-radius: 10px;
}
.CampoContacto{
    z-index: 5;
    background-color: #AAA59D;
    padding: 20px 30px;
    color: rgb(239, 235, 235);
    width: 100%;
    text-align: center;
    margin: auto;
    border-radius: 10px;
}
.CampoContacto h2{
    font-family: 'cheque-bold', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 40px;
}
.CampoContactoInfo{
    text-align: left !important;
    margin-top: 30px;
}
.CampoContactoInfo div{
    margin-bottom: 30px;
}
.IconLink{
    border: 1px white solid;
    border-radius: 30px;
    padding: 5px 7px 8px 7px;
    margin-right: 14px;
    margin-left: 40px;
}
.IconLink .Icon{
    width: 20px;
}
.ContaineMap{
    position: relative;
    top: 430px;
    width: 100%;
}
.CampMapInfo{
    padding: 30px 20px 50px 20px;
    text-align: center;
    background: linear-gradient(to right, #3eb4ba, #003172);
}
.CampMapInfo h5 {
    margin: 20px 0;
    color: #eaeaea;
}
.CampMapInfo input{
    border: white 1px solid;
    color: aliceblue;
}
.LogoImgMap{
    width: 100px;
}
.CampPerguntas{
    position: relative;
    top: 420px;
    padding: 50px 0;
    text-align: center;
    z-index: 10;
}
.CampPerguntas h2{
    font-family: 'cheque-bold', sans-serif;
}
.CampoIntePerguntas{
    border: 1px solid rgba(0, 0, 0, 0.418);
    border-radius: 15px;
    background-color: #E6E6E6;
    text-align: left;
}
.CampoIntePerguntas p{
    margin: 8px 12px;
}
.ButtonArron img{
    margin: 8px 15px;
    width: 28px;
}
#topPergunta{
    border-top: none !important;
}
.areaPergunta{
    border-top: 1px solid rgba(0, 0, 0, 0.418);
    display: flex;
    justify-content: space-between;
}
.areaPergunta p{
    font-size: 18px;
}
.collapseResposta{
    border-top: 1px solid rgba(0, 0, 0, 0.418);
}
.footerstyle{
    position: relative;
    top: 250px;
}
@media screen and (max-width:830px){
    .CampoContacto{
        padding: 20px 10px;
    }
    .ContainerContacto{
        width:680px;
        position: absolute;
        top: 430px;
        left:50%;
        transform: translate(-50%);
        display: inline;
        z-index: 3;
        margin-top: 40px;
    }
}
@media screen and (max-width:767px){
    .CampoContactoInfo{
        text-align: center !important;
        margin-top: 30px;
    }
    .ContaineMap{
        position: relative;
        top: 550px;
        width: 100%;
        height: 286px;
    }
    .CampPerguntas{
        top: 800px;
    }
    .footerstyle{
        top: 590px;
    }
    #mapid{
        height: 286px !important;
        width: 103% !important;
    }
}
@media screen and (max-width:700px){
    .ContainerContacto{
        width:650px;
        position: absolute;
        top: 430px;
        left:50%;
        transform: translate(-50%);
        display: inline;
        z-index: 3;
        margin-top: 40px;
    }
    .ContainerTopInfo h1{
        font-size: 60px;
    }
    .TabContacto{
        display: none;
    }
    .CampoContacto{
        padding: 20px 10px;
        text-align: center;
        border-radius: 0;
    }
    .CampoContactoInfo{
        margin-top: 0;
    }
    .ContainerContacto{
        width: 100%;
        position: absolute;
        top: 430px;
        left:50%;
        transform: translate(-50%);
        display: inline;
        z-index: 3;
        margin-top: 40px;
    }
    .CampoContacto h2{
       margin-bottom: 30px;
    }
    .IconLink{
        border: 1px rgba(255, 255, 255, 0.452) solid;
        border-radius: 30px;
        padding: 2px 7px 6px 7px;
        margin-right: 14px;
        margin-left: 0;
    }
    .CampoContactoInfo div{
        margin-bottom: 15px;
    }
    .IconLink .Icon{
        width: 15px;
    }
    .ContaineMap{
        top: 450px;
    }
    .CampPerguntas{
        top: 750px;
    }
}
@media screen and (max-width:550px){
    .ContainerTopInfo h1{
        font-size: 50px;
        text-align: center;
    }
    .ContainerTopInfo{
        text-align: center;
    }
    .campoDirection{
        margin: 0;
        width: 100%;
    }
    .ContainerTopInfo{
        padding: 0;
    }
}
@media screen and (max-width:440px){
    .ContainerTopInfo h1{
        font-size: 40px;
    }
    .CampoContactoInfo div label span{
        display: none;
    }
}