.CampoHeaderInfo{
    justify-content: space-around;
    margin-top: 10px;
}
.CampoHeaderInfo .card{
    width: 18rem;
    height: 300px;
    padding: 0;
    border: none;
    border-radius: none;
    margin-top: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.18);

}
.CampoHeaderInfo .card p{
    text-align: center;
}
.CampoHeaderInfo .card text{
    display: none;
}
.CampoHeaderInfo .card .buttonOutlelineCard{
    display: none;
}
.CampoHeaderInfo .card-img-top{
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
}
.CampoHeaderInfo .iconArrow{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 125px;
    left: 125px;
    display: none;
}
.CampoHeaderInfo .card:hover .iconArrow {
    display: flex;
    animation: iconArrow-in 0.3s ease-in-out;
}
@keyframes iconArrow-in {
    0% {
        opacity: 0%;
        left: 105px;
    }
    100% {
        opacity: 100%;
        left: 125px;
    }
}
.CampoHeaderInfo .card:hover .card-body {
    background: linear-gradient(to right, #5DE0E6, #004AAD);
    color: rgb(255, 255, 255);
    animation: bodyAnim 0.2s ease-in-out;

}
@keyframes bodyAnim {
    0% {
        color: rgb(0, 0, 0);
        background: transparent;
    }
    100% {
        background: linear-gradient(to right, #5DE0E6, #004AAD);
        color: rgb(255, 255, 255);
    }
}
.CampoHeaderInfo .card:hover .card-img-top {
    opacity: 30%;
}
.centralizado {
    width: 18rem;
    height: 300px;
    padding: 0;
    border: none;
    border-radius: none;
    animation: BackAnimation 0.2s ease-in-out;
    margin-top: 20px;
    margin-right: 16px;
    position: relative;
    flex: 0 0 auto;

}
.centralizado .card-img-top{
    width: 18rem;
    height: 100px;
    animation: BackAnimationImg 1s ease-in-out;
}
.centralizado .card-body{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    width: 18rem;
    height: 200px;
    background: linear-gradient(to right, #5DE0E6, #004AAD);
    animation: BackAnimationBody 1s ease-in-out;
    position: relative;
}
.centralizado .card-title{
    display: none;
}
.centralizado .buttonOutlelineCard{
    animation: aparecer 3s ease-in-out;
}
.centralizado text{
    display: inline;
    animation: aparecer 3s ease-in-out;
    color: rgb(255, 255, 255);
}
@keyframes BackAnimationImg {
    0% {
        opacity: 30%;
        height: 245px;
    }
    100% {
        opacity: 100%;
        height: 100px;
    }
}
@keyframes BackAnimationBody {
    0% {
        height: 55px;
    }
    100% {
        height: 200px;
    }
}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media screen and (max-width:690px){
    .CampoHeaderInfo .card{
        width: 17rem;
        height: 250px;
        padding: 0;
        border: none;
        border-radius: none;
        margin-top: 20px;
    }
    .CampoHeaderInfo .iconArrow{
        top: 110px;
    }
    .centralizado .card-body{
        width: 17rem;
        height: 150px;
        animation: BackAnimationBody 1s ease-in-out;
    }
    .centralizado{
        width: 17rem;
        height: 200px;
        flex: 0 0 auto;
    }
    .centralizado .card-img-top{
        width: 17rem;
        animation: BackAnimationImg 1s ease-in-out;
    }
    @keyframes BackAnimationBody {
        0% {
            height: 55px;
        }
        100% {
            height: 150px;
        }
    }
    @keyframes BackAnimationImg {
        0% {
            opacity: 30%;
            height: 195px;
        }
        100% {
            opacity: 100%;
            height: 100px;
        }
    }
}
@media screen and (max-width:640px){
    .CampoHeaderInfo .card{
        width: 10rem !important;
        height: 150px !important;
        padding: 0;
        border: none;
        border-radius: none;
        margin-top: 20px;
    }
    .CampoHeaderInfo .iconArrow{
        width: 30px;
        height: 30px;
        top: 75px;
        left: 70px;
    }
    .CampoHeaderInfo .card:hover .iconArrow {
        animation: iconArrow-in 0.3s ease-in-out;
    }
    @keyframes iconArrow-in {
        0% {
            opacity: 0%;
            left: 60px;
        }
        100% {
            opacity: 100%;
            left: 70px;
        }
    }
    .centralizado .card-body{
        width: 10rem;
        height: 105px;
        animation: BackAnimationBody 1s ease-in-out;
    }
    .centralizado{
        width: 10rem;
        height: 110px;
    }
    .centralizado text{
        font-size: 13px;
    }
    .centralizado .card-img-top{
        width: 10rem;
        height: 45px;
        animation: BackAnimationImg 1s ease-in-out;
    }
    @keyframes BackAnimationBody {
        0% {
            height: 0px;
        }
        100% {
            height: 105px;
        }
    }
    @keyframes BackAnimationImg {
        0% {
            opacity: 30%;
            height: 125px;
        }
        100% {
            opacity: 100%;
            height: 45px;
        }
    }
}
@media screen and (max-width:440px){
    .CampoHeaderInfo .card{
        width: 17rem !important;
        height: 250px !important;
        padding: 0;
        border: none;
        border-radius: none;
        margin: 10px 0 0 0;
    }
    .CampoHeaderInfo .iconArrow{
        width: 45px;
        height: 45px;
        top: 110px;
        left: 120px;
    }
    .CampoHeaderInfo .card:hover .iconArrow {
        animation: iconArrow-in 0.3s ease-in-out;
    }
    @keyframes iconArrow-in {
        0% {
            opacity: 0%;
            left: 100px;
        }
        100% {
            opacity: 100%;
            left: 120px;
        }
    }
    .centralizado .card-body{
        width: 17rem;
        height: 170px;
        animation: BackAnimationBody 1s ease-in-out;
    }
    .centralizado{
        width: 17rem;
        height: 250px;
        flex: 0 0 auto;
        padding: 0;
        margin: 10px 0 0 0;
    }
    .centralizado .card-img-top{
        width: 17rem;
        height: 80px;
        animation: BackAnimationImg 1s ease-in-out;
    }
    @keyframes BackAnimationBody {
        0% {
            height: 55px;
        }
        100% {
            height: 170px;
        }
    }
    @keyframes BackAnimationImg {
        0% {
            opacity: 30%;
            height: 195px;
        }
        100% {
            opacity: 100%;
            height: 80px;
        }
    }
}