.footerContain{
    background: linear-gradient(to right, #32A5AB, #003172);
    position: relative;
    top: 200px;
    padding: 10px 180px 30px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.footerContain h4{
    border-bottom: 1px solid white;
    font-family: 'cheque', sans-serif;
    font-size: 32px;
    width: auto;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 10px;
}
.LogoIconfooter{
    width: 80px;
}
.campoIcons{
    width: 380px;
    margin: auto;
    display: flex;
    justify-content:space-around;
    margin-top: 10px;
}
.LinkIcon{
    border-radius: 30px;
    border: 0.5px solid rgba(255, 255, 255, 0.744);
}
.campoIcons .Icon{
    width: 32px;
    padding: 6px;
}
@media screen and (max-width:800px){
    .footerContain{
        padding: 10px 80px 30px
    }
}
@media screen and (max-width:560px){
    .footerContain{
        padding: 10px 30px 30px
    }
}
@media screen and (max-width:480px){
    .footerContain h4{
        font-size: 25px;
    }
    .campoIcons{
        width: 250px;
    }
}