@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.ContainerCardsHome{
    display: flex;
    justify-content: space-evenly;
    margin: 47px 0 60px 0;
}
.modelCard{
    width: 18rem;
    height: auto;
    padding: 0;
    text-align: center;
    border-radius: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.267);
    margin-top: 30px;
}
.modelCard a{
    display: none;
}
.modelCard:hover a{
    display:contents;
}
.modelCard:hover h5{
    display:none;
}
.modelCard:hover .card-body{
    background: linear-gradient(to right, #5DE0E6, #004AAD);
    color: aliceblue;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.modelCard img{
    width: 100%;
    height: 250px; 
    object-fit: cover;
    border-radius: 0;
}
.modelCardCentro{
    top: -15px;
}
.modelCard p{
    font-family: 'Playfair Display', serif;
}
.txtContainerCardsHome{
    text-align: center;
    margin-top: 30px;
}
.txtContainerCardsHome h3{
    font-family: 'Playfair Display', serif;
}
@media screen and (min-width:450px){
    .modelCard:hover img{
        height: 240px;
    }
}
@media screen and (max-width:991px){
    .modelCardCentro{
        top: 0px;
    }
}